@charset "UTF-8";



#menu{

	border-radius: 30px 10px;
	border: 1px solid #B2D0CC;
	background: #F5FFFE;

	padding: 5px 50px;
	text-align: center;
	
	margin-bottom:3%;
	
	display: grid;
	
	grid-template-rows: repeat(3, 1fr);
}


.item{
	margin: 3px 50px;
	padding: 0 5px;
	
	border :1px solid #B2D0CC;
	border-radius: 30px 10px;
	background-color: #FFF;
	
	display: grid;
	grid-template-rows: 10% 1px;
	grid-template-columns: 1fr;
}

.btnIn{
	margin: 5px 40px;
	
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(2, 1fr);
}


.item label{
	padding: 10px;
	font-size: 17px;
	position: relative;
	color: #a97228;
	
}
.btn2{
	padding:10px ;
    margin: 0 10px;
	border :1px solid #B2D0CC;
	border-radius: 30px 10px;
	background-color: #FFF;
	
	
}
.btn2 a{
	
	font-size: 17px;
	position: relative;
	color: #a97228;
	
}

.item select.select {
	width: 100%;
	height: 10px;
	min-height: 40px;
	line-height: 40px;
	padding: 0 10px;
	opacity: 0;
	filter: alpha(opacity = 0); /* IE 8 */
}

.item:hover{
	background-color: #B2D0CC;
	border: 1px solid #FFF;

}
.btn2:hover{
	background-color: #B2D0CC;
	border: 1px solid #FFF;

}