<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.peterpet.board.BoardMapper">
	<select id="getfreeList" resultType="com.pp.peterpet.board.BoardDTO">
		select * from board where b_type = #{b_type} order by b_no desc
	</select>
	
	<select id="getList" resultType="com.pp.peterpet.board.BoardDTO">
		select * from board where b_type = #{b_type} order by b_no
	</select>
</mapper>