<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.peterpet.chat.ChatMapper">
	<select id="getBox" resultType="com.pp.peterpet.chat.ChatDTO">
		SELECT * FROM CHAT WHERE chatID IN(SELECT MAX(chatID) FROM CHAT WHERE toID = #{toID} OR fromID = #{toID} GROUP BY fromID, toID) order by chatTime
	</select>
	
	<select id="getChatListByID" resultType="com.pp.peterpet.chat.ChatDTO">
		SELECT * FROM CHAT WHERE ((fromID = #{fromID} AND toID = #{toID}) OR (fromID = #{toID} AND toID = #{fromID})) AND chatID > #{chatID} ORDER BY chatTime
	</select>
	
	<select id="getAllUnreadChat" parameterType="com.pp.peterpet.chat.ChatDTO" resultType="com.pp.peterpet.chat.UnreadDTO">
		SELECT COUNT(chatID) as counter FROM CHAT WHERE toID = #{toID} AND chatRead = 0
	</select>
	
	<insert id="submit" parameterType="com.pp.peterpet.chat.ChatDTO">
		INSERT INTO CHAT VALUES(chat_seq.nextval, #{fromID}, #{toID}, #{chatContent}, sysdate, 0, 0)
	</insert>
	
	<update id="readChat" parameterType="com.pp.peterpet.chat.ChatDTO">
		UPDATE CHAT SET chatRead = 1 WHERE (fromID = #{toID} AND toID = #{fromID})
	</update>
	
	<select id="getUnreadChat" parameterType="com.pp.peterpet.chat.ChatDTO" resultType="com.pp.peterpet.chat.UnreadDTO">
		SELECT COUNT(chatID) as counter FROM CHAT WHERE fromID = #{fromID} AND toID = #{toID} AND chatRead = 0
	</select>
	
	<select id="getChatListByRecent" resultType="com.pp.peterpet.chat.ChatDTO">
		SELECT * FROM CHAT WHERE ((fromID = #{fromID} AND toID = #{toID}) OR (fromID = #{toID} AND toID = #{fromID})) AND chatID > (SELECT MAX(chatID) - #{chatRead} FROM CHAT WHERE (fromID = #{fromID} AND toID = #{toID}) OR (fromID = #{toID} AND toID = #{fromID})) ORDER BY chatTime
	</select>
	
	<select id="deleteChatCheck" resultType="com.pp.peterpet.chat.ChatDTO">
		SELECT * FROM CHAT WHERE chattime = (select max(chattime) from chat WHERE ((fromID = #{toID} AND toID = #{fromID}) OR (fromID = #{fromID} AND toID = #{toID})))
	</select>
	
	<update id="deleteChatUpdate1" parameterType="com.pp.peterpet.chat.ChatDTO">		
		UPDATE Chat SET isDelete = 1 WHERE fromID = #{fromID} AND toID = #{toID}
	</update>
	
	<update id="deleteChatUpdate2" parameterType="com.pp.peterpet.chat.ChatDTO">		
		UPDATE Chat SET isDelete = 2 WHERE fromID = #{toID} AND toID = #{fromID}
	</update>
	
	<delete id="deleteChat" parameterType="com.pp.peterpet.chat.ChatDTO">
		DELETE CHAT WHERE ((fromID = #{toID} AND toID = #{fromID}) OR (fromID = #{fromID} AND toID = #{toID}))
	</delete>
	
	<update id="reInside" parameterType="com.pp.peterpet.chat.ChatDTO">
		UPDATE Chat SET isDelete = 0 WHERE ((fromID = #{fromID} AND toID = #{toID}) OR (fromID = #{toID} AND toID =#{fromID}))
	</update>
	
	<delete id="userDel" parameterType="com.pp.peterpet.chat.ChatDTO">
		DELETE CHAT WHERE fromID = #{fromID} OR toID = #{fromID}
	</delete>
</mapper>